*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build/
/.idea/
/gradle.properties
/gradlew
/app/build/
/gradle/
/.gradle/
/gradlew.bat
/app/src/androidTest/
/app/src/test/
